<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <title>Bootstrap demo</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container m-4 d-flex ">
      <% blogs.forEach(blog => { %>

      <div class="card" style="width: 18rem">
        <img src="<%= blog.coverImage %>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>

          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <% }) %>
    </div>

    <%- include("./partials/script.ejs") %>
  </body>
</html>
